[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Preview attachment graphics_isn.py [Text] 23 KB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=1343e48146&attid=0.1&permmsgid=msg-f:1618319446751310476&th=16756cf66cb7f28c&view=att&disp=safe&realattid=f_jp06jpd80
Icon=text-html
